# Audio processing
librosa==0.10.1
soundfile==0.12.1
moviepy==1.0.3

# Core Python tools
numpy==1.26.4
matplotlib==3.9.0
scikit-learn==1.4.2
tqdm==4.66.4
pandas

# System/file utilities
pathlib2==2.3.7.post1
shutilwhich==1.1.0

# Optional: Flower for federated learning
flwr==1.7.0
